/* Estilos específicos SOLO de usuarios */

.badge-administrador {
  background: rgba(59, 130, 246, 0.12);

  color: var(--info);
}

.badge-asesor {
  background: rgba(16, 185, 129, 0.12);

  color: var(--success);
}

.badge-gerente {
  background: rgba(245, 158, 11, 0.12);

  color: var(--warning);
}
